<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<connectionStrings>
		<add name="connStringDbLocal" connectionString="Data Source=(local);Initial Catalog=LOCALDBSCHEMA;User ID=admin;Password=admin" providerName="System.Data.SqlClient" />
		<add name="connStringDb" connectionString="Data Source=DBPRODS;Initial Catalog=PRODDBSCHEMA;User ID=admin;Password=admin" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="Username" value="your-email-username" />
		<add key="Password" value="your-email-password" />
		<add key="Email" value="your-email-username@example.com" />
		<add key="LogFilePath" value="D:\logs\log_file.txt" />
	</appSettings>
</configuration>